.listItem {
  color: rgba(0, 0, 0, 0.63);
  transition: color ease 100ms;
  /* padding-left: 10px; */
  /* display: inline-block; */
  flex-wrap: wrap;  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 0px 2px 21px -9px rgba(0, 0, 0, 0.75);
}

.listItem:hover,
.listItem:focus {
  color: black;
}

.posterImage {
  width: 300px;
  object-fit: cover;
}

.cardWrapper {
  overflow: hidden;
  width: 300px;
  border-radius: 10px;
  margin-top: ;
  
}
.itemWrapper{
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  align-items:center;
  justify-content: space-between;

}
.title{
  padding: 5px 0;
  width: 100%;
  text-align: center;
}