.listItem {
  color: rgba(0, 0, 0, 0.63);
  transition: color ease 100ms;
  flex-wrap: wrap;
  background-color: aliceblue;
  border-radius: 5px;
  box-shadow: 0px 2px 21px -9px rgba(0, 0, 0, 0.75);
}

.listItem:hover,
.listItem:focus {
  color: black;
}

.posterImage {
  height: 100%;
  object-fit: contain;
}

.cardWrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 300px;
  height: 350px;
  border-radius: 10px;
}
.itemWrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  padding-top: 15px;
  align-items: center;
  justify-content: space-between;
}
.title {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
}
